[Unit]
Description=example systemd service unit file.
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
EnvironmentFile=/etc/systemd/system/osfooler.service.d/osfooler.conf

ExecStart=/home/ubuntu/build/osfooler start ${OSNAME} ${OSGENRE} ${P0F}
ExecReload=/home/ubuntu/build/osfooler restart ${OSNAME} ${OSGENRE} ${P0F}
ExecStop=/home/ubuntu/build/osfooler stop
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
