
[Unit]
After=network.target

[Service]
ExecStart=/usr/bin/python3 OSFooler-ng/osfooler-ng.py -m ${OS} -o ${OSGENRE} -d ${DETAILS_P0F}
Type=simple
EnvironmentFile=/etc/osfooler-ng.conf
KillMode=mixed
TimeoutStopSec=2
KillSignal=SIGINT

[Install]
WantedBy=default.target

